# Database
DATABASE_URL=sqlite:///./vault.db

# Security
SECRET_KEY=replace_with_long_random_secret
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=43200
REFRESH_TOKEN_EXPIRE_MINUTES=43200

# App bootstrap
SEED_ADMIN_ON_FIRST_RUN=true
SEED_ADMIN_USERNAME=admin
SEED_ADMIN_PASSWORD=change_this_immediately

# Plex
MOCK_PLEX=true
PLEX_BASE_URL=http://your_plex_ip:32400
PLEX_TOKEN=your_real_plex_token

# IPTV
IPTV_SOURCE_URL=https://raw.githubusercontent.com/MrRykon/vault_iptv/refs/heads/main/channels.m3u

# Updates
LATEST_VERSION=1.0.0
MINIMUM_SUPPORTED_VERSION=0.9.0
APK_DOWNLOAD_URL=https://your-server.com/vault-latest.apk
APK_SHA256=
FORCE_UPDATE=false
